// ============ Typographie.
$font: 'Lato', sans-serif;
$font-regular: 400;
$font-bold: 700;


// ============ Colors.
$white: #ffffff;
$gray: #707070;
$dark-gray: #343436;
$blue: #335ae0;
$purple: #6b34da;


$hero-gradient: linear-gradient(140deg, rgba(26,38,111,1) 0%, rgba(51,31,106,1) 40%, rgba(81,22,100,1) 100%);
$card-gradient: linear-gradient(148deg, rgba(87,52,188,1) 0%, rgba(71,69,204,1) 40%, rgba(52,90,225,1) 100%);