.create-form-wrapper {
    position: fixed;
    top: 0%;
    left: 0;
    right: 0;
    transition: $transition;
    z-index: 999;

    .form-container {
        background-color: $white;
        display: grid;
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
        padding: 1rem;

        form {
            display: grid;

            .form-group {
                display: grid;
            }

        }
    }
}

.hide-create-form-wrapper {
    top: -100%;
}