.greet-wrapper {
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;


    .greet-container {
        background-color: $white;
        width: 90%;
        display: grid;
        max-width: 500px;
        margin: 2rem auto 0;
        padding: 1.5rem;
        border-radius: 5px;
        text-align: center;


        h1 {
            font-size: 1.3rem;
            margin-bottom: 1rem;

            a {
                color: $blue;
                text-decoration: none;
            }
        }

        button {
            background: $hero-gradient;
            color: $white;
            height: 45px;
            border-radius: 5px;
            margin-top: 0.7rem;
            cursor: pointer;
        }
    }
}

.greet-wrapper-hide {
    display: none;
}