@import 'reset';
@import 'config';

// Component.
@import 'hero';
@import 'content';
@import 'card';
@import 'forms';
@import 'greet';


body {
    font-family: $font;
}

.App {
    position: relative;
}


.show-date-field {
    display: block;
}

.hide-date-field {
    display: none;
}